// Colors
$color-navy: #1a2a3a;
$color-gold: #CEB870;
$color-cream: #faf8f5;
$color-white: #ffffff;
$color-text: #000000;
$color-text-secondary: #504F56;
$color-text-light: #666666;

// Fonts
$font-mincho: 'Shippori Mincho', 'Noto Serif JP', serif;

// Breakpoints
$breakpoint-sp: 768px;
$breakpoint-md: 1024px;